/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.gen-button{
    margin: 0px 10px 0px 10px;
}

div.btn-div {
    margin: 10px 0px 10px 0px;
}

textarea {
    resize: none;
}

div#my-card-body{
    position: relative;
    min-height: 90px;
}

div.primary-tweet {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-left: 40px;
    margin-top: -25px; /* half this element's height */
}